@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px 15px 0 15px;
}

.account {
  display: flex;
  margin: 0 0 40px 0;
}

.title {
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  margin: 0 20px 0 0;
  padding: 0;
}

.account__content {
  width: 490px;
}

.account__fields {
  width: 370px;
}

.row {
  margin-bottom: 20px;
  display: flex;
}

.input-field {
  background: #fff;
  border: 1px solid #e1e1e3;
  border-radius: 3px;
  padding: 8px 10px;
  width: 240px;
  height: 33.4px;
  display: block;
  color: #000;
  font-size: 14px;
  transition: all 0.3s;
  outline: none;
  padding: 8px 10px;
}

input:focus {
  border-color: #2dc574;
}

label {
  font-size: 14px;
  cursor: pointer;
  display: block;
  font-weight: 500;
  line-height: 21px;
  margin: 6px 10px 0 0;
  padding: 0;
  width: 120px;
}

small {
  color: #a3a3a3;
  display: block;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 400;
}

.notification-settings {
  display: flex;
  margin: 0 0 15px 0;
}

.notification-settings__content {
  width: 490px;
  color: #686869;
  font-size: 14px;
}

.notification-settings__description {
  margin: 0;
}

.notification-settings__fields {
  margin: 20px 0 0 0;
}

.notification-settings__caption {
  cursor: pointer;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.notification-settings__field {
  border-bottom: 1px solid rgb(225, 225, 227);
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  font-size: 15px;
  width: 370px;
  align-items: center;
  display: flex;
}

.notification-settings__radio {
  margin: 0 10px 0 0;
  width: 120px;
}

.input-radio {
  display: inline-block;
  margin: 0 4px 0 0;
}

.label-radio {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  color: #000;
  width: 90px;
}

.bottom {
  display: flex;
}

.bottom__heading {
  width: 270px;
}

.bottom__body {
  width: 490px;
  font-size: 13px;
}

button {
  font-size: 13px;
  background-color: #2dc574;
  color: #fff;
  height: 43px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}

button:hover {
  background-color: #26a763;
}
